<!-- footer -->
<!-- <div class="footer-agile">
	<div class="container">
		
		 <div class="clearfix"> </div>
		<div class="copyright-agile">
			<p>&copy; 2017 ScoutSchools All rights reserved | Design by @team VTAC</p>
		</div>
	</div>
</div> -->
<!-- //footer -->
<!-- footer -->
	<div class="footer">
		<div class="container">
			
		
			<div class="w3_agileits_copy_right_social">
				<div class="col-md-offset-4 col-md-6 agileits_w3layouts_copy_right">
					<p>&copy; 2017 ScoutSchools. All rights reserved | Design by <a >@Vtac</a></p>
				</div>
				
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //footer -->