<!-- <div class="header" id="home" >
		<div class="container" id="headerdiv1" >
			 <div class="logo">
				<h1>ScoutSchools</h1>
			</div>  -->
			
			<!-- <div class="header-left" > -->
				<!-- <nav class="navbar navbar-default" > -->
					<!-- Brand and toggle get grouped for better mobile display -->
				<!-- 	<div class="navbar-header">
							
					<h4 id="nameh4"style="color:white">Welcome, <span id="nameh3" style="color:white" ng-bind='session.data'></span></h4>
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>
					</div> -->
											
					<!-- Collect the nav links, forms, and other content for toggling -->
				<!-- 	<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1" ng-controller="PageCtrl">
						
						<div >  -->
							<!--<form ng-submit="sub()">
								<input id="searchbar" type="search" ng-model="zipcode" placeholder="Search" />
								<input type="submit" value="">
							</form> -->
						<!-- </div>
						
						<nav class="link-effect-9" id="link-effect-9" >

							<ul class="nav navbar-nav">
						

								<li class="active"><a class="hvr-overline-from-center scroll" href="index.html">Home</a></li>
								<li><a href="#/about" class="hvr-overline-from-center scroll">About Us</a></li>
								<li><a href="#/team" class="hvr-overline-from-center scroll">Our Team</a></li>
								<li class="dropdown" ng-controller="BlogCtrl"><a  class="hvr-overline-from-center scroll" >Search Schools<span><i class="fa fa-caret-down" aria-hidden="true"></span></i>
</a>
									<div class="dropdown-content" ng-model="value" ng-change="change()" >
										<a href="#/school" value="schools">Browse Schools</a>
										<a href="#/nearby" value="nearby">Nearby Schools</a>
										<a href="#/profile" value="profile">School Profile</a>
										<a href="#/schoolsearch" value="school">School Search</a> -->
										<!-- <a href="#/blog4" value="reviews">School Reviews</a> -->
									<!-- 	<a href="#/test" value="scores">School Test Scores</a>
										<a href="#/census" value="census">School Census Data</a>
										<a href="#/city" value="city">City Overview</a>
										<a href="#/cities" value="nearbycities">Nearby Cities</a>
										<a href="#/districts" value="nearbycities">Browse Districts</a>
									</div>
							    </li>
								<li><a href="#/daycares" class="hvr-overline-from-center scroll">DayCares</a></li> -->
								<!-- <li><a href="#properties" class="hvr-overline-from-center scroll">Login/SignUp</a></li> -->
							<!--    <li id="logoutdiv" class="hvr-overline-from-center scroll"><a href="#login" class="hvr-overline-from-center scroll" ng-if ="session.data" ng-click="logout()" id="logouta">Logout</a></li> 

								<li><a href="#contact" class="hvr-overline-from-center scroll">Contact Us</a></li>

							</ul>
						</nav>
					</div> -->
					<!-- /.navbar-collapse -->
			<!--	</nav>
			</div>
		</div>
	</div>  -->
<!-- //header -->


