<div id="loginnav" >
	
    <a id="namenav"><h4 id="nameh4"style="color:white">Welcome, <span id="nameh3" style="color:white" ng-bind='session.data'></span></h4></a>
	<div id="loginmenu">
		<a href="#/signup" ng-if="!session.data"><span data-hover="SignUp">SignUp</span></a>
		<a href="#/login" ng-if="!session.data"><span data-hover="SignIn">Login</span></a>
		<a href="#/logout" ng-if="session.data" ng-click="logout()"><span data-hover="Logout">Logout</span></a>
	</div>
	
</div>
<!-- banner -->
	<div class="banner1" ng-controller="PageCtrl">
		<nav class="navbar navbar-default">
			<div class="navbar-header navbar-left">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<h1><a class="navbar-brand" href="index.html"><span>Scout</span>Schools</a></h1>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
				<nav class="link-effect-2" id="link-effect-2">
					<ul class="nav navbar-nav">
							<li class="active"><a href="index.html"><span data-hover="Home">Home</span></a></li>
						<li ><a href="#/about"><span data-hover="About Us">About Us</span></a></li>
						<li><a href="#/team"><span data-hover="Our Team">Our Team</span></a></li>
						<!-- Dropdown Trigger -->
            <li class="dropdown">
                      
					<a class="dropdown-content" ng-model="value" ng-change="change()" id="menu1" data-toggle="dropdown"><span data-hover="Search Schools">Search Schools</span>
					<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                   <li><a href="#/school" value="nearby">Browse Schools</a></li>
										<li><a href="#/schoolsearch" value="school">School Search</a></li>
										<li><a href="#/city" value="city">City Overview</a></li>
										<li><a href="#/cities" value="nearbycities">Nearby Cities</a></li>
										<li><a href="#/districts" value="nearbycities">Browse Districts</a></li>
    </ul>
  
            </li>
            
			    			<li><a href="#/daycares"><span data-hover="DayCares">DayCares</span></a></li>
							 <li><a ng-click="savedsearch()" ng-if="session.data" value="savedsearch" ><span data-hover="Saved Schools">Saved Schools</span></a></li>
			<li><a ng-click="saveddaycares()" ng-if="session.data" value="saveddaycares" ><span data-hover="Saved Daycares">Saved Daycares</span></a></li>
                <li><a href="#/contact"><span data-hover="Contact Us">Contact Us</span></a></li>

					</ul>
				</nav>
			</div>
			
		</nav>
		<div class="wthree_banner1_info">
			<div class="container">
				<h3><span>A</span>bout Us</h3>
			</div>
		</div>
	</div>
<!-- //banner -->	
<!-- courses -->
	<div class="courses">
		<div class="container"> 
			<div class="w3_agile_team_grid">
				<div class="w3_agile_team_grid_left">
					<p>01</p>
					<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
				</div>
				<div class="w3_agile_team_grid_right">
					<h3>About  <span>Us</span></h3>
					<p>The vtac group is a diverse cadre of professionals committed to providing you up-to-date and accurate information regarding childcare and educational opportunities throughout the United States and abroad.  Apeksha Hakim, Christina Ruc, Theresa Bates, and Victor Mack all hail from Charlotte, NC, a region rich in educational leadership and ground-breaking decisions from the Swann v. Board of Education case to current school assignment incorporating socio-economic status to ensure school equity.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			
		</div>
	</div>
<!-- //courses --><hr>
<!-- stats-bottom -->

<!-- //stats-bottom -->	
