<!-- Page Content -->

<div class="container" ng-controller="myCtrl1" >

   
    <!-- Service Paragraphs -->

    <div class="row" >

        <div class="col-md-8"  >
            <h2 class="page-header">School Details</h2>
            <h3>{{details.id}}</h3>
            <h3>School Id: <span style="color:red" >{{details.id}}</span></h3>
            <h3>Name : <span style="color:red">{{details.name}}</span> </h3>
            <h3>Type : <span style="color:red">{{details.type}}</span> </h3>
            <h3>Grade Range: <span style="color:red">{{details.range}}</span> </h3>
            <h3>Enrollment : <span style="color:red">{{details.enrollment}}</span> </h3>
            <h3>Parent Rating : <span style="color:red">{{details.rating}}</span> </h3>
            <h3>City : <span style="color:red">{{details.city}}</span> </h3>
            <h3>State : <span style="color:red">{{details.state}}</span> </h3>
            <h3>Address : <span style="color:red">{{details.address}}</span> </h3>
            <h3>Phone Number : <span style="color:red">{{details.phone}}</span> </h3>
            <h3>Fax: <span style="color:red">{{details.fax}}</span> </h3>
            <h3>Website : <span style="color:red">{{details.website}}</span> </h3>
           
        </div>

        
    </div>
    <!-- /.row -->

    <!-- Service Tabs -->

</div>

		
            

			